body{
    background-color: aquamarine;
}

.btn-click{
    background-color: rgb(20, 206, 20);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(rgb(15, 57, 42));
    font-size: 20px;
border-radius: 6px;
padding: 10px;
cursor:pointer;

}
.btn-reiniciar{
    background-color: rgb(168, 7, 7);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(rgb(56, 59, 71));
    font-size: 20px;
border-radius: 6px;
padding: 10px;
cursor:pointer;


}